@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-surface: #f7f9fc;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #44474a;
  
  --color-primary: #000101;
  --color-on-primary: #ffffff;
  --color-primary-container: #1a1c1e;
  --color-on-primary-container: #838486;
  
  --color-secondary: #5b5f63;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #e0e2e8;
  --color-on-secondary-container: #616569;
  
  --color-tertiary: #000000;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #370e00;
  --color-on-tertiary-container: #e45400;
  
  --color-tertiary-fixed: #ffdbce;
  --color-on-tertiary-fixed: #370e00;
  
  --color-surface-container: #eceef1;
  --color-surface-container-low: #f2f4f7;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-high: #e6e8eb;
  --color-surface-container-highest: #e0e3e6;
  
  --color-outline: #75777a;
  --color-outline-variant: #c5c6ca;
  --color-inverse-surface: #2d3133;
  --color-inverse-on-surface: #eff1f4;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
